version: 2
updates:
  - package-ecosystem: 'npm'
    directory: '/'
    schedule:
      interval: 'weekly'
    open-pull-requests-limit: 5
    target-branch: 'stage'
    labels: ['dependencies', 'security']
  - package-ecosystem: 'npm'
    directory: '/apps/web'
    schedule:
      interval: 'weekly'
    open-pull-requests-limit: 5
    target-branch: 'stage'
    labels: ['dependencies', 'security']
